<div class="container">
  <div class="title">
    <h3>Control Traffic Lights via encrypted MQTT</h3>
    <h4>By Muhammad Adistya Azhar, 5116100103</h4>

  </div>

  <div class="controls">
    <div class="row">
      <p>Click on a button to turn an LED on</p>
      <div class="col s4">
        <a class="waves-effect waves-light btn-large" id="btn-red">Red</a>

      </div>
      <div class="col s4">
        <a class="waves-effect waves-light btn-large" id="btn-yellow">Blue</a>

      </div>
      <div class="col s4">
        <a class="waves-effect waves-light btn-large" id="btn-green">Green</a>

      </div>
    </div>
  </div>
<hr>
  <div class="read-me">
    <p>Technology stack used:</p>
    <ul class="collection">
      <li class="collection-item">NodeMCU ESP8266 development board</li>
      <li class="collection-item">Sails JS Node JS framework</li>
      <li class="collection-item">Emq - MQTT broker</li>
      <li class="collection-item">Redis</li>
      <li class="collection-item">C++</li>
    </ul>


    <%# <p>Encryption used: Advanced Encryption Standard, or AES</p> %>
    <%# <img src="https://www.tutorialspoint.com/cryptography/images/first_round_process.jpg" alt=""> %>

  </div>


</div>
